<div class="container">
    <div class="row">
        <div class="col-lg-12" *ngIf="order$|async;let item; else load">
            <ul>
                <li>
                    № {{item.id}} - {{item.status|orderStatus}}
                </li>
                <li *ngFor="let data of item.data">
                    <p>{{data.pizza.name}}}</p>
                    <p *ngFor="let addition of data.pizza.additions">
                        {{ addition.name}} {{addition.value}}
                    </p>
                </li>
            </ul>

        </div>
        <ng-template #load>
            Загрузка
        </ng-template>
    </div>
</div>